<!DOCTYPE html>

<html>
<!-- hey dere :) -->

<head>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css">
    <link rel="icon" href="/static/favicon.png" type="image/x-icon" />
    <title>Half Full App</title>

    <meta property="og:title" content="Half Full App - Turn that frown inside out"/>
    <meta property="og:image" content="http://www.halffullapp.com/static/img/large-icon.png"/>
    <meta property="og:url" content="http://www.halffullapp.com/"/>
    <meta property="og:description" content="The app that turns your frown upside down with a dose of inspiration to kick any bad mood in the butt!"/>

</head>

<body>
    <div class="header">
        <div class="content">
            <img class="glass" src="/static/img/glass.png"/>
            <h1>Live half full</h1>
            <h2>THE APP THAT TURNS YOUR FROWN UPSIDE DOWN WITH A <br/>DOSE OF INSPIRATION TO KICK ANY BAD MOOD IN THE BUTT!</h2>
            <img class="phone" src="/static/img/phone.png"/>
        </div>
    </div>

    <div class="footer">
        <div>
        <br/><br/>
        <a href="https://itunes.apple.com/us/app/half-full/id691038531?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>
            <img src="/static/img/smiley.png"/>
            <p>&ldquo;Our happiness or our unhappiness depends far more on the way we meet the events of life than on the nature of those events themselves.&rdquo;</p>
        </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43172343-1', 'halffullapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
